main {
    margin: 30px;
    padding: 0;
    min-height: 800px;
    color: #333;
    font-family: 'Noto Sans KR', sans-serif;
}

main hr {
    max-width: 1500px;
    border: 1px solid black;
}
#cart {
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;

    border-collapse: collapse;
    text-align: center;

    font-size: 16px;
}

#cart th {
    height: 40px;
}

#cart td {
    height: 100px;
    border: 0.1px solid black;
    min-width: 50px;

}

#cart td:first-child, #cart td:last-child  {
    border-left: none;
    border-right: none;
}
#cart td:nth-child(2) {
    border-left: none;
}

#cart td:nth-child(2) {
    text-align: left;
}


#cart td img {
    width: 100px;
    height: 100px;
    object-fit: contain;
    object-position: center;
}

#cart p {
    display: inline;
    height: 100%;
    margin: auto 0;
    font-size: 15px;
}

.price {
    font-weight: bold;
    color: #e74c3c;
    font-size: 15px;
    width: 150px;
}

.btn-group {
    width: 70px;
    height: 15px;
    padding: 4px;
    margin: 0 auto;

    border-radius: 6px;
    border: 0.1px solid black;
}

.btn-group button {
    border: none;
    background-color: white;
}

button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

#item-btn-group {
    max-width: 500px;
    display: flex;
    justify-content: space-between;
    margin: 17px auto;
}

#item-btn-group button {
    font-size: 17px;
    width: 200px;
    height: 45px;
    padding: 10px;

    border-radius: 4px;
    border: none;
    background-color: #2c5530;
    color: white;
}
#item-btn-group button:active {
    background-color: #1d381f;
}

@media screen and ( max-width:768px) {
    #cart {
        font-size: 0.9em;
    }
}