/* donate.css */

.donate-container {
    max-width: 900px;
    margin: 50px auto;
    padding: 0 20px;
    text-align: center;
}

.donate-container h1 {
    font-size: 45px;
    margin-bottom: 10px;
    color: #2c3e50;
}

.donate-container p {
    font-size: 16px;
    color: #555;
    margin-bottom: 40px;
}

.donate-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.donate-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
    gap: 15px;
}

.input-group {
    position: relative;
}

.input-group input {
    width: 100%;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #bbb;
    font-size: 14px;
    box-sizing: border-box;
    outline: none;
    transition: 0.2s ease;
}
.input-group label {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 14px;
    background-color: white;
    padding: 0 4px;
    pointer-events: none;
    transition: 0.2s ease;
}
.input-group input:focus + label, .input-group input:not(:placeholder-shown) + label {
    left: 13px;
    top: 0px;
}
.input-group input:focus + label {
    color: #2c5530;
}
.input-group input:focus {
    border-color: #2c5530;
}

.donate-form textarea {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    outline: none;
    resize: vertical;
    min-height: 100px;
    font-size: 14px;
}

.donate-button {
    background-color: #2c5530;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 8px;
    font-size: 15px;
    cursor: pointer;
}

.donate-button:active {
    background-color: #1d381f;
}

/* 반응형 */
@media (max-width: 600px) {
    .donate-content {
        flex-direction: column;
        padding: 0 10px;
    }
}
